<ul>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <% @images.each do |image| %>
    <li><%= image_tag image.url, class: 'index-img' %></li>
  <% end %>
</ul>
